.left{
	padding:1em;
}
.left .progressChart{
	padding:1em;
	box-shadow:0 0 10px #a1a1a1;
}


.content-card img:nth-child(1){
	margin-left:2em;
	
}
.content-card {
	margin-top: 7%;
	width: 100%;

}

.row{
	width:100%;
}

.column { 
  //float: left;
  width: 80%;
  padding: 1.5em;
}
.inside h3{
	border-bottom:2px solid #009688;
}
.inside h3:hover{
		border-bottom:2px solid #fff;
}

@media screen and (max-width: 985px) {
 	.column { 
  float: left;
  width: 50%;
  margin-top:1em;
  padding: 1em;
}
}

@media screen and (max-width: 650px) {
 	.column { 
  float: center;
  width: 60%;
  margin-top:1em;
  padding: 1em;
}
}
@media screen and (max-width: 514px) {
 	.column { 
  float: center;
  width: 80%;
  margin-top:1em;
  padding: 1em;
}
}

.inside {
	display:flex;
	padding-left:1.5em;
	padding-right:1.5em;
	padding-bottom:1.5em;
}

/*Card buttons*/
